.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.container {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.scroller {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row no-wrap;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.scroller .svgArrow {
  fill: none;
  stroke: #333333;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 3;
}
.scroller .arrow {
  margin: 0 0.5rem;
  zoom: 0.75;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer;
}
.scroller .arrow:hover .svgArrow {
  stroke: #FF0000;
  stroke-width: 8;
}
.scroller .wrapper {
  overflow: hidden;
  width: 100%;
  background-color: #CCCCCC;
}
.scroller ul.items {
  transition: -webkit-transform 0.12s ease-in;
  transition: transform 0.12s ease-in;
  transition: transform 0.12s ease-in, -webkit-transform 0.12s ease-in;
  margin: 1rem;
  list-style: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
}
.scroller ul.items .unselectable li {
  margin-right: 2rem;
}
